body{
    background-image: url(./wallpaper.jpg);
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(223, 187, 12, 0.861);
}

td{
    border: 2px solid blue;
}

span{
    color: aqua;
}


